* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  margin: 0;
}

header {
  padding: 32px 0;
  border-bottom: 8px solid hsl(0, 0%, 40%);
}

main {
  padding: 64px 0;
  background-color: hsl(0deg, 0%, 60%);
}

.max-width-wrapper {
  max-width: 600px;
  margin: 0 auto;
}

.intro-chunk,
.card {
  padding: 8px 24px;
}

.intro-chunk {
  max-width: 45ch;
}

.intro-chunk>.title {
  line-height: 2.5;
}

.intro-chunk>p {
  font-size: 1.25rem;
}

.intro-chunk strong {
  color: hsl(160, 100%, 30%);
}

.card {
  border-bottom: 8px solid hsl(0, 0%, 40%);
  background-color: hsl(0deg, 0%, 100%);
}

.indented-heading {
  margin-left: -24px;
  width: -moz-fit-content;
  padding: 24px 24px;
  border-bottom: 8px solid hsl(45, 100%, 40%);
  background-color: hsl(45, 100%, 50%);
}

@media(min-width: 600px) {
  .indented-heading {
    margin-left: -40px;
    padding: 24px 40px;
  }
}